In [4]:
%pip install yfinance
import yfinance as yf
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (0.2.38)
Requirement already satisfied: multitasking>=0.0.7 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: html5lib>=1.1 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.1)
Requirement already satisfied: pytz>=2022.5 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (2024.1)
Requirement already satisfied: lxml>=4.9.1 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (5.2.2)
Requirement already satisfied: pandas>=1.3.0 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.31 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: peewee>=3.16.2 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (3.17.5)
Requirement already satisfied: frozendict>=2.3.4 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: soupsieve>1.2 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jerrychen/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2024.2.2)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
Apple = yf.download("AAPL")
Apple

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086999,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600
...,...,...,...,...,...,...
2024-05-20,189.330002,191.919998,189.009995,191.039993,191.039993,44361300
2024-05-21,191.089996,192.729996,190.919998,192.350006,192.350006,42309400
2024-05-22,192.270004,192.820007,190.270004,190.899994,190.899994,34648500
2024-05-23,190.979996,191.000000,186.630005,186.880005,186.880005,51005900
2024-05-24,188.820007,190.580002,188.039993,189.979996,189.979996,36294600

In [6]:
pd.read_csv('Apple Product Timeline.csv')

,Released,Model,Family,Discontinued
0,11-Apr-76,Apple I,Apple I,30-Sep-77
1,1-Jun-77,Apple II,Apple II,1-May-79
2,1-Jun-78,Disk II,Drives,1-May-84
3,1-Jun-79,Apple II Plus,Apple II series,1-Dec-82
4,1-Jun-79,Apple II EuroPlus,NaN,1-Dec-82
...,...,...,...,...
1133,Macs,NaN,NaN,NaN
1134,iPhones,NaN,NaN,NaN
1135,iPads,NaN,NaN,NaN
1136,Timeline of Apple Inc. products,NaN,NaN,NaN
1137,NaN,NaN,NaN,NaN

stock movements -> product launch
for example, observe whether a low point in apple stock prices push product launch schedule forward (say on average product launches are spaced out by x, a downward trend/local min would shorten this time/land on the shorter end of the timeline)
Vice versa, if high stock prices will drive investment into RND which in turn gives faster launches or more innovative products?